<div class="container">
    <div class="section">
        <!-- 文章头部 -->
        <h2 class="header teal-text darken-4">{{article.title}}</h2>
        <p class="caption"><span class="teal-text lighten-2">{{article.tag}}</span> {{article.updatedAt}}</p>
        <!-- 文章正文部分 --> 
        {{!--<section>--}}
        <div class="section">
            {{{article.content}}}
        </div>
        {{!--</section>--}}
    </div>
</div>