<div class="row">
    <div class="page-header text-center">
        <h3>后台总览</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading text-center">用户</div>
            <div class="panel-body text-center">11</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading text-center">文章</div>
            <div class="panel-body text-center">24</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading text-center">其他</div>
            <div class="panel-body text-center">23</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading text-center">其他</div>
            <div class="panel-body text-center">23</div>
        </div>
    </div>
</div>


{{#section 'head'}}
<style>

</style>
{{/section}}