<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Material Design Lite</title>

    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/material-design-lite/material.min.css">
    <link rel="stylesheet" href="/css/admin_css.css">
    <style>
        #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }
    </style>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">管理</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href=""><i class="fa fa-home fa-2x" aria-hidden="true"></i> 首页</a>
                <a class="mdl-navigation__link" href=""><i class="fa fa-file-text fa-2x" aria-hidden="true"></i> 文章</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                <!-- Your content goes here -->
                <ul class='mdl-list'>
                    {{#each articles}}
                    <li class="mdl-list__item">{{title}}</li>
                    {{/each}}
                </ul>
            </div>
        </main>
    </div>
    <script src="/material-design-lite/material.min.js"></script>
</body>

</html>