<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Material Design Lite</title>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" media="screen,projection" href="/materialize-css/dist/css/materialize.css">
    {{!--<link rel="stylesheet" href="/materialize-css/css/prism.css">
    <link rel="stylesheet" href="/materialize-css/css/ghpages-materialize.css">--}}
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col s12 m4 offset-m4 card-panel">
                <h4 class="center-align">登录</h4>
                <form action="" method="POST" class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" class="validate" id="exampleInputAccount8" name="username">
                            <label for="exampleInputAccount8">账号</label>
                        </div>
                        <div class="input-field col s12">
                            <input type="password" class="validate" id="exampleInputPassword8" name="password">
                            <label for="exampleInputPassword8">密码</label>
                        </div>
                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light col s12 btn-large" type="submit" name="action">登录</button>
                        </div>
                        {{#if errors}}
                            <div class="input-field col s12">
                                <div class="card-panel red lighten-3">
                                    {{errors}}
                                </div>
                            </div>
                        {{/if}}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/materialize-css/dist/js/materialize.min.js"></script>
</body>

</html>