<!--页脚start-->
<div class="head-foot-bg uk-padding">
    <div class="uk-flex uk-flex-center" uk-grid>
        <div class="uk-block">信息反馈</div>
        <div class="uk-block">关于我们</div>
    </div>
</div>
<!--页脚end-->