<!--页脚start-->
<div class="container-fluid">
    <div class="container text-center">
        <hr>
        <a href="#"><i class="icon icon-question-sign"></i> 信息反馈</a>
        <a href="#"><i class="icon icon-user"></i> 关于我们</a>
    </div>
</div>
<!--页脚end-->