<!--导航start-->
<div class="uk-container uk-container-expand head-foot-bg">
    <div class="uk-navbar-center uk-width-large-*">
        <nav class="uk-navbar uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="#">Logo</a>
        </nav>
        <nav class="uk-navbar uk-navbar-right">
            <ul class="uk-navbar-nav ">
                <li class="uk-button uk-button-text"><a href="/">首页</a></li>
                <li class="uk-button uk-button-text"><a href="/user/article">文章</a></li>
            </ul>
        </nav>
    </div>
</div>
<!--导航end-->