<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li><a class="uk-logo uk-navbar-item" href="#">Logo</a></li>
        </ul>

    </div>

    <div class="uk-navbar-right" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
        <ul class="uk-navbar-nav">
            <li class="uk-button uk-button-text"><a href="#">文章</a></li>
            <li class="uk-button uk-button-text"><a href="#">关于</a></li>
        </ul>
    </div>
</nav>
