<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link rel="stylesheet" href="/material-design-lite/dist/material.indigo-amber.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!---->
    {{{_sections.head}}}
</head>

<body>
    <div class="container-fluid pl">
        {{!--导航--}}
        <div class="col-md-3 pl">
            {{> admin/nav}}
        </div>
        {{!--内容--}}
        <div class="col-md-9">
            {{{body}}}
        </div>
    </div>
    {{!--js--}}
    <script src="/jquery.js"></script>
    <script src="../../node_modules/material-design-lite/dist/material.min.js"></script>
    {{{_sections.foot}}}
</body>

</html>