<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/css.css">
    <link rel="stylesheet" href="/css/uikit.min.css" />
    <script src="/jquery.js"></script>
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
    {{!--头--}}
    {{{_sections.head}}}
</head>
<body>
    {{!--导航--}}
    {{> nav}}
    {{!--内容--}}
    {{{body}}}
    {{!--页脚--}}
    {{> foot}}
    {{!--js--}}
    {{{_sections.foot}}}
</body>
</html>