<div class="container">
    <ul class="list-group">
        <li class="list-group-item">List item 1</li>
        <li class="list-group-item">List item 2</li>
        <li class="list-group-item">List item 3</li>
    </ul>
</div>


{{#section 'head'}}
    <script type="text/javascript">

    </script>
{{/section}}

{{#section 'foot'}}
<script>
    $(document).ready(function () {

    });
</script>
{{/section}}
