
<ul class="uk-list uk-list-striped">
    <li>List item 1</li>
    <li>List item 2</li>
    <li>List item 3</li>
</ul>

{{#section 'head'}}
    <script type="text/javascript">
        function tap_user() {
            window.webkit.messageHandlers.tapUser.postMessage(null);
        }
    </script>
{{/section}}

{{#section 'foot'}}
<script>
    $(document).ready(function () {

    });
</script>
{{/section}}
