
{{#if flash}}
    <h1>{{flash.message}}</h1>
{{/if}}

<div>
    <form id="addForm" action="/" method="POST">
        <div>
            <label for="file">File:</label>
            <input type="file" id="file" name="file" accept="image/*" id="fieldPhoto">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

{{#section 'head'}}

{{/section}}

{{#section 'foot'}}
<script>
    $(document).ready(function () {

    });
</script>
{{/section}}
