{{!--<div class="uk-flex-center uk-width-4-6">
    <div class="uk-grid uk-container-center">--}}
        <form method="POST" action="">
            <legend class="uk-legend uk-text-center">添加文章</legend>
            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="标题" name="title">
            </div>
            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="关键字" name="tag">
            </div>
            <div class="uk-margin">
                <textarea class="uk-textarea" rows="5" placeholder="内容" name="content"></textarea>
            </div>
            <div class="uk-margin">
                <input class="uk-input" type="submit"></input>
            </div>
        </form>
    {{!--</div>
</div>--}}