{{#section 'head'}}
<script src="http://cdn.bootcss.com/axios/0.16.1/axios.min.js"></script>
{{/section}}


<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <form method="POST" action="" class="form-horizontal">
            {{#if message}}
            <div class="uk-alert-warning" id="loginAlert">
                <p>{{message}}</p>
            </div>
            {{/if}}

            <div class="form-group">
                <label for="exampleInputAccount8">账号</label>
                <input type="text" class="form-control" id="exampleInputAccount8" placeholder="电子邮件/手机号/用户名" name="username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword8">密码</label>
                <input type="password" class="form-control" id="exampleInputPassword8" placeholder="" name="password">
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
    </div>

</div>


{{#section 'foot'}}
<script>

</script>
{{/section}}