{{#section 'head'}}
<script src="http://cdn.bootcss.com/axios/0.16.1/axios.min.js"></script>
{{/section}}

<div class="uk-flex uk-flex-center uk-flex-middle">
    <div class="uk-card uk-card-default uk-card-body">
        <div class="uk-margin uk-text-center">
            <h3>登录</h3>
        </div>
        <form method="POST" action="" class="loginForm">
            {{#if message}}
            <div class="uk-alert-warning" id="loginAlert">
                <p>{{message}}</p>
            </div>
            {{/if}}
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input" type="text" id="account" placeholder="Account" name="username">
                </div>
            </div>

            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input class="uk-input" type="password" id="password" placeholder="Password" name="password">
                </div>
            </div>

            <div class="uk-margin">
                <div class="uk-flex uk-flex-center">
                    <button class="uk-button uk-button-default ">注册</button>
                    <button type="submit" class="uk-button uk-button-primary">登录</button>
                </div>
            </div>
        </form>
    </div>

</div>

{{#section 'foot'}}

<script>


</script>


{{/section}}