
<nav class="menu" data-ride="menu" style="width: 200px">
    <ul id="treeMenu" class="tree tree-menu" data-ride="tree">
        
        <li><a href="#"><i class="icon icon-dashboard"></i>预览</a></li>
        <li><a href="#"><i class="icon icon-user"></i>用户管理</a></li>
        <li><a href="#"><i class="icon icon-file-text-o"></i>文章管理</a></li>
    </ul>
</nav>