<ul id="nav-mobile" class="side-nav fixed">
    <li>
        <div class="userView">
            <!--<div class="background">
                <img src="/img/user.jpg">
            </div>-->
            <a href="#!user"><img class="circle" src="/img/user.jpg"></a>
            <a href="#!email"><span class="white-text email">{{username}}</span></a>
        </div>
    </li>
    <!--<li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>-->
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader center-align">管理</a></li>
    <li><a class="waves-effect" href="/admin/article">文章</a></li>
</ul>